@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body,
button,
input {
	font-family: 'Nunito Sans', sans-serif;
}

body {
	min-height: 100vh;
	color: #0d1126;
}

a {
	color: unset;
}

h1 {
	margin: 1rem 0;
}

.container {
	padding: 0 1rem;
}

@media screen and (min-width: 640px) {
	.container {
		padding: 0;
		width: 80%;
		max-width: 1024px;
		margin: 0 auto;
	}
}
