@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--clr-primary: #0d1126;
	--clr-text-secondary: #2b2d36;
	--clr-white-bg-hover: #f4f4f4;
	--clr-text-link: #283992;
}

body,
button,
input {
	font-family: 'Nunito Sans', sans-serif;
}

body {
	min-height: 100vh;
	color: var(--clr-primary);
}

a {
	color: unset;
	text-decoration: none;
}

h1 {
	margin: 1rem 0 0.5rem;
}

.container {
	padding: 0 1rem;
}

@media screen and (min-width: 640px) {
	h1 {
		margin: 2rem 0 0.5rem;
	}

	.container {
		padding: 0;
		width: 80%;
		max-width: 1024px;
		margin: 0 auto;
	}
}
