.nav {
	background-color: #0d1126;
	padding: 1rem 0;
}

.navContainer {
	display: flex;
}

.appName {
	font-weight: 600;
	color: white;
	margin-right: 1rem;
}

.linkContainer {
	display: flex;
}

.link {
	margin-right: 0.5rem;
	color: #c8c8c8;
	text-decoration: none;
}

.link:hover {
	color: #e2e2e2;
	transition: 200ms;
}
